.m5{
  position: relative;
  margin: 1.5rem 2rem;
}

.row #file-input
{
    display: none;
}
.m-2{
  margin:0.5rem;
}

.m-4{
  margin:1.5rem;
}

.mb-4{
  margin-bottom:1.5rem;
}

.px-4{
  padding: 0rem 1.5rem;
}


.p-2{
  padding : 0.5rem;
}
.p-4{
  padding : 1.5rem;
}
.py-4{
  padding : 2rem 0.5rem;
}

.form{
  box-shadow: #ccc 3px 2px 5px 2px;
}

.mt-4{
  margin-top:30px;
}

.mx-4{
  margin : 0rem 1.5rem;
}

.flex-end{
  display: flex;
  flex-direction:row;
  justify-content:end;
  position:relative;
}
.message-p .form-inline .form-control {
	width: 100%
}

.login-layout {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.registration {
  background-size: cover;
}
.login-layout .widget-box {

    background-color: transparent !important;
}
 .transaparent {

  background-color: transparent !important;
}

.box-shadow{
  box-shadow: #777 1px 2px 2px 1px;
}

.dashboard-item{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.dashboard-item a{
  flex:1;
  width:100%;
}

.panel-body {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
  .panel-body table {
    width:100%;
  }

  .dynamic-table-container{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .dynamic-table-container table {
    width:100%;
  }
  .well {
    max-height: 400px;
  }

  .table-header{
    margin-bottom: 20px !important;
  }

  .d-none{
    display: none;
  }
  .d-flex{
    display: flex;
    flex-direction: row;
  }
.px-4{
  margin: 0rem 3rem;
}

table{
    width:100% !important;
    max-width: 100% !important;
}
